*{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 768px){
    #menu > a{
        color: black;
        font-size: 17px;
    }
 }

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Edu+SA+Beginner&family=PT+Sans:ital@1&family=Sriracha&display=swap');

body{
    background-color: white;
    font-family: Inter,sans-serif;;
    height: 100vh;
}

h1#inicioprodutos{
    text-align: center;
    padding: 15px;
    margin: 5px;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    border-radius: 15px;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav img {
    width: 90px;
}

#menu{
    padding: 10px; /* Reduzir o espaçamento do menu */
    font-size: 16px; /* Tamanho da fonte menor para o menu */
    text-align: right; /* alinhamento do cabeçalho */
    flex: 1; /* Ocupar o espaço disponível restante */
    margin-top: 35px; /* Espaço superior para separar da imagem */
    font-family: 'Bricolage Grotesque', sans-serif;
}


a{
    padding: 8px;
    text-decoration: none;
    color: black;
}

.container #nav:hover{
    transition-duration: 0.8s;
    padding: 5px;
    box-sizing: border-box;
}

#inicio:hover{
    border-radius: 10px;
    box-sizing: border-box;
}

#produtos:hover{
    border-radius: 10px;
    box-sizing: border-box;
}

#quemsomos:hover{
    border-radius: 10px;
    box-sizing: border-box;
}

#login:hover{
    border-radius: 10px;
    box-sizing: border-box;
}

#nav {
    background-color: #ffff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-hamburguer .linha {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

#menu {
    align-items: center;
}

#menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

@media (max-width: 768px) {
    .menu-hamburguer {
        display: flex;
    }

    #menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #ffff;
    }

    #menu a {
        margin: 10px 0;
        text-align: center;
    }

    #menu.menu-aberto {
        display: flex;
        animation: fadeIn 0.5s ease forwards;
    }
}

/* Estilos para o popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.banner {
    background-color: black;
    max-width: 100%;
    height: auto;
    overflow: hidden; /* Para evitar que a imagem interna ultrapasse os limites do banner */
}

.banner#img01 {
    background-image: url(https://i.ibb.co/2WJCS7M/Banners.png);
    background-size: cover;
    box-shadow: 2px 2px 4px black; /* Melhorar a sombra */
    padding: 35vh 1vw; /* Ajustar o padding para ser mais responsivo */
    background-position: center center;
    background-attachment: fixed;
}

.banner#img01 img {
    width: 100%; /* Tornar a imagem interna responsiva */
    height: auto; /* Garantir que a altura seja ajustada automaticamente */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Adicionar media queries para ajustes em dispositivos móveis */
@media screen and (max-width: 768px) {
    .banner#img01 {
        padding: 35vh 2vw; /* Ajustar o padding para dispositivos móveis */
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        height: 25%;
        background-image: url(https://i.ibb.co/Kj26Nqt/mobile-1.png)
 }
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}
.flex > div:hover{
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 15px;
}

.flex  p{
    color: black;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 40px 0; /* Espaçamento interno do rodapé */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
    color: white;
}

footer a{
    color: white;
}
footer p{
    padding-left: 8px;
}

a#lgpdfooter{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#metodospagamento{
    padding: 0px;
    margin-bottom: 20px;
    width: 450px;
}

#instagram{
    width: 35px;
    display: inline-block;
}

p#copy{
    margin: -5px;
    bottom: 0px;
}

/* Efeito pulsante na logo */
#logo {
    animation: pulse 1s infinite;
    margin: 0 auto;
    display: flex;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }
  
@keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
  }