*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, #3A3A3A, #464343);
    font-family: Inter,sans-serif;;
    height: 100vh;
}

main{
    margin-top: 0px;
    padding-top: 0px;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav img {
    width: 90px;
}

#menu{
    padding: 10px; /* Reduzir o espaçamento do menu */
    font-size: 16px; /* Tamanho da fonte menor para o menu */
    text-align: right; /* alinhamento do cabeçalho */
    flex: 1; /* Ocupar o espaço disponível restante */
    margin-top: 35px; /* Espaço superior para separar da imagem */
    font-family: 'Bricolage Grotesque', sans-serif;
}

.container #nav:hover{
    transition-duration: 0.8s;
    padding: 5px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #353138;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    display: inline-block;
    justify-content: right;

    padding: 10px;
}

main {
    padding: 5vh; /* Altere o padding para unidades relativas */
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}

h1{
    text-align: center;
    color: white;
    padding-top: 5px;
    font-family: monospace ;
    font-size: 65px;
}

p#resposta{
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

p#pergunta{
    padding-bottom: 10px; padding-top: 10px;
    text-align: left;
}

p{
    padding: 4px;
    max-width: 95vh;
    color: white;
    margin: 0 auto;
    text-align: left;
}

section {
    padding: 10vh 0;
    line-height: 2em;
    padding-left: 30px;
}

/* Estilos para a seção de imagem */
section.imagem {
    width: 100%;
    height: auto; /* Redimensiona a imagem mantendo a proporção */
}

/* Estilos específicos para a seção #imgfundadores */
section#imgfundadores {
    background-image: url(/imgs/lobo3.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px; /* Defina uma altura mínima para a seção */
}

/* Efeito pulsante na logo 

#logo {
    animation: pulse 1s infinite;
    margin: 0 auto;
    display: flex;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }
  
@keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
  }
 Ajustar, a logo ta explodindo o menu, n faz sentido nenhum kkkkkkk */