* {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-box, .text-box {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    #menu {
        font-size: 12px; /* Tamanho da fonte menor para telas menores */
        text-align: center; /* Centralizar o texto */
        padding: 5px; /* Reduzir ainda mais o espaçamento do menu */
        margin-top: 0; /* Remover o espaço superior */
    }
    
    .image-box {
        margin: 0 auto; /* Centralizar a imagem horizontalmente */
        width: 80px; /* Reduzir o tamanho da imagem */
    }
}
/* Ajustar o texto para telas menores */
@media (max-width: 768px) {
    #nav {
        font-size: 5px; /* Tamanho da fonte menor para telas menores */
        text-align: center; /* Centralizar o texto */
        flex-direction: column; /* Colocar o texto em uma coluna */
    }
}
/* Ajustar o texto para telas menores */
@media (max-width: 768px) {
    .text-box {
        text-align: center; /* Centralizar o texto */
    }
}

body {
    background-color: #353138;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav img {
    width: 90px;
}

#menu {
    padding: 10px; /* Reduzir o espaçamento do menu */
    font-size: 16px; /* Tamanho da fonte menor para o menu */
    text-align: right;
    flex: 1; /* Ocupar o espaço disponível restante */
    margin-top: 35px; /* Espaço superior para separar da imagem */
}

a {
    padding: 8px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: right;
}

.image-box {
    flex: 1;
    max-width: 100%;
    margin-left: 50px;
}

.image-box img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-box {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    text-align: right;
}

h1 {
    text-align: right;
}

p#descproduto {
    margin-top: 35px;
    text-align: left;
    display: block;

    font-size: 20px;
}

p.ctam{
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 20px;
}

select#slcger{
    padding: 2px;
    width: 70px;
}

.container #nav:hover {
    transition-duration: 0.8s;
    padding: 5px;
    box-sizing: border-box;
}

#nav {
    text-align: right;
    margin: 2px;
    padding: 10px;
    grid-area: nav;
}

/* Efeito pulsante na logo */
#logo {
    animation: pulse 1s infinite;
    margin: 0 auto;
    display: flex;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

footer {
    margin-top: 150px;
    grid-area: footer;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 5px 0; /* Espaçamento interno do rodapé */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
    color: white;
}

footer a {
    color: white;
}

footer p {
    padding-left: 8px;
}

#metodospagamento {
    padding: 0px;
    margin-bottom: 20px;
    width: 450px;
}

#instagram {
    width: 35px;
    display: inline-block;
}

p#copy {
    margin: -5px;
    bottom: 0px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(200%);
    }
}