*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #353138;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

h1{
  margin: 50px;
  color: white;
  text-align: center;
  font-size: 70px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: "nav nav nav"
                "main main main"
                "footer footer footer";
}               

a{
    color: white;
    padding: 10px;
    margin-right: 0px;
    padding-right: 0px;
    text-decoration: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container #nav:hover{
    transition-duration: 0.8s;
    padding: 5px;
}

#nav{
    justify-content: space-between;
    grid-area: nav;
    text-align: right;
    margin: 2px;    
    padding: 10px;
}

#menu{
    padding: 20px;
}



section{
    text-align: center;
}

p{
    color: white;
}

img#atencao {
    animation: pulse 1s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
  }