*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: "nav nav nav"
                "main main main"
                "footer footer footer";
}               

a{
    padding: 10px;
    margin-right: 0px;
    padding-right: 0px;
    text-decoration: none;
}

#produtos:hover{
    background-color: red;
    border-radius: 10px;
}

#quemsomos:hover{
    background-color: pink;
    border-radius: 10px;
}

#login:hover{
    background-color: purple;
    border-radius: 10px;
}

.main > p{
    color: white;
}

.main{
    grid-area: main;
    background-color: white;
}
.main#img01{
    background-image: url(/imgs/lobo1.jpg);
    background-size: cover;
    padding: 24vh;
    background-position: right center;
    background-attachment: fixed;
    
}

#nav{
    justify-content: space-between;
    grid-area: nav;
    text-align: right;
    margin: 2px;    
    padding: 10px;
}

#menu{
    padding: 20px;
}

p{
    text-align: center;
}

h1{
    text-align: center;    
}

img{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}

