*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: "nav nav nav nav"
                "main main main main";
}               


h1{

    padding-top: 35px;

}
p{
    color: white;
}

#nav{
    padding-bottom: 8vh;
}

.main{
    grid-area: main;
    background-color: wheat;
}
.main#img01{
    background-image: url(/imgs/lobo1.jpg);
    background-size: cover;
    padding: 24vh;
    background-position: right center;
    background-attachment: fixed;
    
}

#nav{
    justify-content: space-between;
    grid-area: nav;
    text-align: right;
}

#menu{
    padding: 20px;
    text-align:right;
}

p{
    text-align: center;
}

h1{
    text-align: center;    
}

img{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}
 
